html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #26262a;
  color: white;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
}

button:disabled {
  background-color: #454547;
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: #797979;
}

.btn-add {
  color: #1A1A1D;
  background-color: #f0a211;
}

.btn-add:hover {
  background-color: #ecba5c;
  color: #26262A;
}

.btn-del {
  color: #FFF;
  background-color: #353536;
}

.btn-del:hover {
  background-color: #801414;
  color: white;
}

/*******/
/* NAV */
/*******/

.navbar {
  height: 60px;
  width: 100%;
  background-color: #1a1a1d;
  position: sticky;
  margin-bottom: 70px;
  top: 0;
  display: grid;
  grid-template: 1fr / 30% 40% 30%;
  z-index: 101;
}

.navlinks {
  display: flex;
  position: relative;
  height: 100%;
  left: 0px;
  width: 100%;
  justify-content: space-around;
}

@supports not (-ms-ime-align: auto) {
  .navlinks {
    justify-content: space-evenly;
  }
}

.navlink {
  display: block;
  text-decoration: none;
  color: #fff;
  height: 35px;
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 8px;
  align-self: flex-end;
  transition: all 0.4s ease-in-out;
}

.navlink:hover {
  color: #ecba5c;
}

.navlink.current-page {
  color: #f0a211;
}

.navlink.current-page::after {
  content: "";
  display: block;
  position: relative;
  height: 4px;
  width: calc(100% + 10px);
  bottom: -11.5px;
  left: -5px;
  align-self: flex-end;
  border-radius: 12px 12px 0 0;
  background-color: #f0a211;
  transition: all 0.4s ease-in-out;
}

.active-link {
  position: absolute;
  height: 4px;
  bottom: 0;
  border-radius: 12px 12px 0 0;
  background-color: #f0a211;
  transition: all 0.4s ease-in-out;
}

.btn-container {
  grid-area: 1 / 3 / 1 / 3;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  position: relative;
}

.dropdown-toggle {
  padding: 8px 10px;
  justify-self: end;
  align-self: center;
  color: #1a1a1d;
  border-radius: 50%;
  background-color: #f0a211;
  cursor: pointer;
  font-size: 1.3em;
}

.dropdown {
  position: absolute;
  width: 130px;
  padding: 10px 5px;
  right: 0;
  top: 55px;
  z-index: 99999;
  background-color: #1A1A1D;
  border-radius: 10px;
  box-shadow: 0 0 5px 3px #26262A;
}

.dropdown a {
  text-decoration: none;
  color: #FFF;
}

.dropdown-item {
  width: 100%;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.dropdown-item i {
  margin-right: 10px;
}

.dropdown-item:not(:last-child) {
  margin-bottom: 10px;
}

.dropdown-item:hover {
  background-color: #27272a;
}

.btn-auth,
.btn-logout {
  width: 80px;
  height: 30px;
  color: #1a1a1d;
  font-weight: bold;
  background-color: #f0a211;
  border-radius: 10px;
  justify-self: end;
  align-self: center;
  font-size: 0.9em;
  transition: all 0.4s ease-in-out;
}

.btn-container button i {
  display: none;
  font-size: 1.3em;
}

.btn-auth {
  margin-right: 20px;
}

.btn-auth:first-child {
  color: #26262a;
  background-color: #fff;
}

.btn-auth:hover,
.btn-logout:hover,
.dropdown-toggle:hover {
  color: #1a1a1d;
  background-color: #ecba5c;
}

.btn-auth:first-child:hover {
  background-color: #a8a8a8;
}

/**************/
/* CATEGORIES */
/**************/

.categories {
  display: flex;
  flex-flow: row;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.search-categories {
  width: 100%;
  height: 40px;
  justify-content: space-around;
  align-items: center;
  background-color: #1a1a1d;
  border: 2px solid #f0a211;
  border-top: 0;
  border-radius: 0 0 12px 12px;
}

@supports not (-ms-ime-align: auto) {
  .search-categories {
    justify-content: space-evenly;
  }
}

.search-categories .label-container {
  width: 25%;
  min-width: 85px;
  height: 30px;
  font-size: 1.1em;
  border-radius: 12px;
}

.upcoming-categories {
  max-width: 400px;
}

.upcoming-categories .label-container {
  width: 130px;
  min-width: 100px;
  height: 28px;
  border-radius: 10px 10px 0 0;
  border-bottom: 0;
  background-color: #1a1a1d;
  margin-left: 2px;
}

.label-container {
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #fff;
  text-transform: uppercase;
}

.label-container span {
  display: block;
}

.categories input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.games-label:hover {
  border-color: #5186a8;
  color: #5186a8;
}

.tv-label:hover {
  border-color: #b38357;
  color: #b38357;
}

.movies-label:hover {
  border-color: #6f56af;
  color: #6f56af;
}

input:checked + .games-label {
  border-color: #2b82d9;
  color: #2b82d9;
}

input:checked + .tv-label {
  border-color: #ab5200;
  color: #ab5200;
}

input:checked + .movies-label {
  border-color: #7e2bd1;
  color: #7e2bd1;
}

.label-container {
  transition: all 0.4s ease-in-out;
}

/**********/
/* MODALS */
/**********/

#modal-root {
  text-align: center;
  color: #FFF;
}

.modal {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  background-color: #2d343680;
}

.modal button {
  width: 80px;
  height: 35px;
  margin: 0 auto 10px;
  justify-self: center;
  font-weight: bold;
  border-radius: 10px;
  background-color: #1a1a1d;
  color: #f0a211;
  border: 2px solid #f0a211;
  transition: all 0.4s ease-in-out;
}

.confirmation-modal button {
  margin: 10px 5px 10px;
}

.modal button:hover {
  color: #1a1a1d;
  background-color: #f0a211;
}

.confirmation-modal,
.form-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: #1a1a1d;
  padding: 10px;
  margin: auto;
  border-radius: 12px;
}

.confirmation-modal {
  max-width: 300px;
  top: 45%;
}

.del-name {
  font-weight: bold;
  font-style: italic;
  color: #f0a211;
}

/* AUTH  */

.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  min-height: 280px;
}

.modal .close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  padding: 7px 0 0;
  cursor: pointer;
  border-radius: 6px;
  color: #f0a211;
}

.modal .close-btn:hover {
  color: #fff;
}

form {
  display: flex;
  flex-flow: column;
  width: 100%;
}

form h2 {
  margin-bottom: 5px;
}

form label {
  align-self: start;
  font-weight: 500;
  font-size: 0.9em;
  margin-bottom: 5px;
}

.auth-mode-btns {
  display: flex;
  flex-flow: nowrap;
  border-bottom: 1px solid #fff;
  margin: 15px 0 20px;
  padding-bottom: 7px;
  font-weight: bold;
  width: 100%;
}

.auth-mode-btns span {
  cursor: pointer;
}

.auth-mode-btns span:first-child {
  margin-right: 20px;
}

.active-auth-mode {
  color: #f0a211;
}

.active-auth-mode::after {
  content: "";
  display: block;
  position: relative;
  bottom: -8px;
  height: 2px;
  background-color: #f0a211;
}

form input {
  padding: 10px;
  margin-bottom: 20px;
  border: 0;
  border-radius: 8px;
  outline: 0;
  transition: all 0.3s ease-in-out;
  width: 100%;
  align-self: center;
}

form input:focus {
  box-shadow: 0 0 5px 3px #f0a211;
}

/* ERROR NOTIFICATIONS */

.error-msg {
  margin: 0 auto 10px;
  padding: 5px 10px;
  border: 2px solid #801414;
  border-radius: 12px;
  max-width: 500px;
  min-width: 250px;
  font-size: 0.9em;
  background-color: #80141426;
}

form .alert .error-msg {
  margin-top: 0;
  padding: 7px 5px;
  max-width: 80%;
  min-width: 240px;
}

.error-msg h3 {
  font-size: 1.5em;
  margin: 0;
}

.alert .error-msg {
  padding: 0 10px 5px;
  margin-top: 10px;
}

.error-msg p {
  font-style: italic;
}

.calendar .error-msg {
  margin: 15px auto;
  max-width: 550px;
  min-width: 280px;
}

.modal > .error-msg {
  padding-top: 10px;
  position: relative;
  top: 48%;
  background-color: #1a1a1d;
  transform: translateY(-50%);
}

.not-authorized,
.not-found-page {
  margin-top: 120px;
  height: 100%;
  width: 100%;
  padding: 5px 5px 50px;
}

.not-found-page h1 {
  font-size: 6em;
  margin: 0;
}

.not-found-page p {
  font-size: 1.5em;
  margin: 0;
  font-weight: bold;
}

/**********/
/* FOOTER */
/**********/

.footer {
  height: 140px;
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1d;
}

.attribution {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  max-width: 320px;
}

.footer a {
  text-decoration: none;
  color: #fff;
  margin-top: 15px;
  width: 50%;
}

.footer a:first-child {
  text-align: right;
  margin-right: 8px;
}

.footer a:last-child {
  text-align: left;
  margin-left: 8px;
}

.vertical-line {
  position: absolute;
  height: 90%;
  top: 10px;
  width: 2px;
  background-color: #454547;
}

.footer > p {
  color: #b9b8b8;
  font-size: 0.9em;
  margin: 10px 0 0;
}

.attribution p {
  margin: 0;
  font-style: italic;
  font-size: 0.7em;
}

.footer h1 {
  letter-spacing: 5px;
  margin: 0;
  font-size: 1.6em;
}

.footer img {
  height: 25px;
}

/***************/
/* BREAKPOINTS */
/***************/

@media screen and (max-width: 1175px) {
  .navlink {
    font-size: 1.1em;
  }
  .navlink.current-page::after {
    bottom: -15.5px;
  }
  ul li.search {
    font-size: 1.1em;
  }
  .search-categories .label-container {
    width: 30%;
    font-size: 1em;
    padding: 2px 0;
  }
  .day-title h4 {
    display: none;
  }
  .info-top > div > h1 {
    font-size: 2em;
  }
  .details-content {
    width: 80%;
  }
  .info-top::after {
    width: 80%;
    left: 10%;
  }
  .info-top > div span {
    font-size: 1em;
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
  }
  .navlinks {
    width: 40%;
  }
  .search-container {
    position: absolute;
    width: 100%;
    top: 60px;
  }
  .search-bar {
    border-radius: 0;
  }
  .loading-results {
    top: 10%;
  }
  .search-categories .label-container {
    width: 21%;
  }
  .selected-month {
    width: 80%;
  }
  .month-container {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .day {
    max-width: 300px;
    width: 100%;
    margin-top: 5px;
  }
  .day-title h4 {
    display: block;
  }
  .calendar-view {
    display: block;
  }
  .upcoming-head {
    width: 98%;
  }
  .upcoming-head h2 {
    font-size: 1.2em;
    padding: 5px 15px 0;
  }
  .upcoming-categories .label-container {
    font-size: 0.9em;
    max-width: 100px;
  }
  .details-content {
    width: 95%;
  }
  .info-top {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
  .info-top > div {
    margin-bottom: 0;
    text-align: center;
  }
  .info-top::after {
    width: 95%;
    left: 2.5%;
    height: 500px;
    top: 450px;
  }
  .info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content-side {
    width: 100%;
    order: -1;
  }
  .content-side div {
    max-width: 90%;
    margin: auto;
  }
  .details-info {
    padding-left: 0;
    padding-right: 0;
  }
  .details-info button {
    align-self: center;
    margin: 20px 0;
  }
  .episodes-list {
    margin: 16px 5px;
  }
  .episodes-list div:not(:first-child) {
    flex-direction: column;
    align-items: center;
  }
  .content-main {
    height: 100%;
  }
}

@media screen and (max-width: 500px) {
  .navlinks {
    width: 70%;
  }
  .btn-container button span {
    display: none;
  }
  .btn-container button i {
    display: block;
  }
  .btn-container button {
    width: 45px;
  }
  .search-categories .label-container {
    font-size: 0.9em;
    padding: 3px 0;
  }
  ul li.search {
    grid-template-rows: 75px;
    font-size: 0.9em;
  }
  .selected-month {
    width: 95%;
    font-size: 0.7em;
  }
  .fa-long-arrow-alt-left,
  .fa-long-arrow-alt-right {
    font-size: 2.5em;
  }
  .upcoming-head {
    flex-direction: column;
    align-items: flex-start;
  }
  .upcoming-categories {
    width: 95%;
    padding: 0 10px;
  }
  .upcoming-categories .label-container {
    min-width: 80px;
    font-size: 0.8em;
    padding: 4px;
  }
  .text-over-image h1,
  .text-no-image h1 {
    font-size: 1.6em;
  }
  .text-over-image span,
  .text-no-image span {
    font-size: 1em;
  }
  .not-authorized {
    font-size: 0.9em;
  }
  .episodes-list div {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 400px) {
  .btn-container {
    margin-right: 10px;
  }
  .btn-auth:last-child {
    margin-right: 0;
  }
  .details-content {
    width: 100%;
  }
  .details-info button {
    width: 90%;
    font-size: 1.2em;
  }
  .info-top::after {
    left: 0;
    width: 100%;
  }
  .week-days > div > div {
    width: auto;
    max-width: 280px;
  }
  .upcoming-link,
  .day-title {
    font-size: 0.8em;
  }
  .upcoming {
    width: 100%;
  }
  .upcoming-movies,
  .upcoming-shows {
    margin: 5px 2.5px;
  }
}
