.search-container {
  height: 36px;
  align-self: end;
  margin-bottom: 5px;
}

.search-container > div {
  position: relative;
}

.search-bar {
  width: 100%;
  height: 40px;
  font-size: 1.6em;
  padding: 5px 20px 5px 50px;
  border: 0;
  border: 2px solid #f0a211;
  outline: 0;
  position: relative;
  border-radius: 10px 10px 0 0;
  background-image: url("../../icons/search.svg");
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 1.2em;
  z-index: 20;
}

.search-bar:disabled {
  background-color: #cccccc;
}

.btn-clear {
  position: absolute;
  color: #1a1a1d;
  font-size: 2em;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  cursor: pointer;
  right: -3px;
  top: -3px;
  z-index: 20;
}

.loading-results {
  position: absolute;
  top: 2px;
  left: 50%;
  height: 40px;
  transform: translateX(-50%);
  z-index: 21;
}

.show-categories {
  display: block;
  position: relative;
  margin: auto;
  width: 90px;
  height: 20px;
  color: #f0a211;
  font-size: 0.75em;
  font-weight: bold;
  border: 2px solid #f0a211;
  border-top: 0;
  border-radius: 0 0 22px 22px;
  background-color: #1a1a1d;
  cursor: pointer;
  z-index: 100;
  transition: all 0.3s ease-in-out;
}

@keyframes rotating {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(-180deg);
  }
}

.show-categories:hover {
  color: #1a1a1d;
  background-color: #f0a211;
}

ul.search,
div.search {
  list-style: none;
  width: 100%;
  margin: auto;
  padding: 0;
  background-color: #1a1a1d;
  position: relative;
  z-index: 1;
  border-left: 2px solid #f0a211;
  border-right: 2px solid #f0a211;
  border-bottom: 2px solid #f0a211;
  border-radius: 0 0 12px 12px;
  transition: all 0.3s ease-in-out;
  max-height: calc(100vh - 120px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #404042 #1a1a1d;
}

ul.search::-webkit-scrollbar {
  width: 8px;
}

ul.search::-webkit-scrollbar-track {
  background-color: #1a1a1d;
  border-radius: 50%;
}

ul.search::-webkit-scrollbar-thumb {
  border-radius: 999px 0 999px 0;
  background-color: #1a1a1d;
  box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.3); 
  -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.3);
}

.search-error-msg {
  display: block;
  color: #FFF;
  border-radius: 0 0 10px 10px;
  min-height: 75px;
  padding: 25px 0;
  font-style: italic;
}

.search-error-msg h4{
  margin: 3px 0;
}

ul li.search {
  font-size: 1.3em;
  display: grid;
  grid-template: 90px / 1fr 74px;
  align-items: center;
  border-bottom: 1px solid #4f4f4f;
}

ul li.search:last-child {
  border-radius: 0 0 10px 10px;
  border-bottom: 0;
}

ul li.search:hover {
  background-color: #313131;
}

.search-result {
  display: grid;
  grid-template: 1fr / 80px 1fr;
  align-items: center;
}

.search-result img {
  align-self: center;
  margin: 0 auto;
  height: 75px;
}

.search-result div {
  grid-column: 2 / 2;
  padding-left: 5px;
}

.search .details-link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: #FFF;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.search button {
  width: 50px;
  height: 50px;
  grid-area: 2 / 2 / 4 / 3;
  font-size: 1.8em;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.platforms-search {
  font-size: 0.7em;
  margin-top: 5px;
}